{% extends "account_Base.html" %}
{% load static %}
{% block title %}
 Login
{% endblock title %}
{% block header %}
 Login To The system
{% endblock header %}
{% block content %}
 <div class="main-agileinfo">
			<div class="agileits-top">
				<form action="{% url 'account:login' %}" method="post">
				   {% csrf_token %}
				   {% include "partials/_messages.html" %}
					{{ form.username }}
					<div class="invalid-feedback" style="display:none;"></div>
                    <p class="text-sm text-success usernameSuccess"></p>
                    <br>
					{{ form.password }}
					<br>
					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" disabled=true checked=true>
							<span>Keep me logged in</span>
						</label>
						<p><a href="{% url 'password_reset' %}" style="float:right;">Forgot your password?</a></p>
						<div class="clear"> </div>
					</div>
                    
					<input type="submit" value="LOGIN">
				</form>
				<p>Don't have an Account? <a href="{% url 'account:registration' %}"> Signup Now!</a></p>
			</div>
		<div class="seperator"><b>or</b></div>
		<div class="agileits-top">
			<a href="#" class="fb btn">
          <i class="fa fa-facebook fa-fw"></i> Login with Facebook
          </a>
          <a href="#" class="twitter btn">
          <i class="fa fa-twitter fa-fw"></i> Login with Twitter
         </a>
         <a href="#" class="google btn">
          <i class="fa fa-google fa-fw"></i> Login with Google+
         </a>
				
				
		</div>
</div>
{% endblock content %}