{% extends "account_Base.html" %}
{% load static %}
{% block title %}
 Password Reset
{% endblock title %}
{% block header %}
 Password Reset
{% endblock header %}
{% block content %}
 <div class="main-agileinfo">
    <div  class="alert alert-success">
        <p style="color:green;text-align:center;">Forgotten your password? Enter your email address below, and 
        we'll email instructions for setting a new one.</p>
    </div>
    <div class="agileits-top">
        <form method="post">
		{% csrf_token %}
		{% include "partials/_messages.html" %}
		{{ form }}
					
		<input type="submit" value="Reset Password" class="signup">
		</form>
    </div>
 </div>
{% endblock content %}