{% extends "account_Base.html" %}
{% load static %}
{% block title %}
Password Reset Confirm
{% endblock title %}
{% block header %}
Enter New Password
{% endblock header %}
{% block content %}
<div class="main-agileinfo">
  <div  class="alert alert-success">
    <p style="color:white;text-align:center;">Please enter your new password twice so we can verify you typed it in correctly.</p>
 </div>
		<div class="agileits-top">
			<form method="post">
			{% csrf_token %}
			{% include "partials/_messages.html" %}
			{{ form }}
					
			<input type="submit" value="Password Update" class="signup">
			</form>
				
		</div>
</div>
{% endblock content %}