{% extends "account_Base.html" %}
{% load static %}
{% block title %}
Password Reset Complete
{% endblock title %}
{% block header %}
Password Reset Complete
{% endblock header %}
{% block content %}
 <div class="main-agileinfo">
          <p style="color:white;text-align:center;">
            Your password has been set. You may go ahead and log in now.
            </p>
			<div class="agileits-top">
				
			<a href="{% url 'account:login' %}">Log in</a>	
			</div>
			
		
</div>
{% endblock content %}