{% extends "account_Base.html" %}
{% load static %}
{% block title %}
Password Reset Sent
{% endblock title %}
{% block header %}
Password Reset Sent
{% endblock header %}
{% block content %}
<div class="main-agileinfo">
   <div class="agileits-top">
			<p style="color:green;text-align:center;">
            We've emailed you instructions for setting your password,if an account exists with the email you entered.
            You should receive them shortly. If you don't receive an email, make sure you've entered the address you registered with,
            and check your spam folder.
            </p>	
				
	</div>
</div>
{% endblock content %}