{% extends "account_Base.html" %}
{% load static %}
{% block title %}
 Customer Signup
{% endblock title %}
{% block header %}
 signup to our system as
{% endblock header %}
{% block content %}
 <div class="main-agileinfo">
			<div class="agileits-top">
			
			{% comment %} <div class="wthree-text">
						<label class="anim">
							{{ form.gender }}
						</label>
						<div class="clear"> </div>
			</div> {% endcomment %}
			<a href="{% url 'account:customer-registration' %}" class="sign">Customer</a>  <a href="{% url 'account:manager-registration' %}" class="sign" style="float:right;">Manager</a>	
			
			</div>
</div>
{% endblock content %}

