{% extends "base.html" %}
{% load static %}
{% block title %}
 contact us
{% endblock title %}

{% block aside %}
	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({% static 'images/img_bg_2.jpg' %});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Contact Us</h1>
							<h2>Agro Farm <a href="#" target="_blank">Themewagon</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock aside %}
{% block product %}
    <div id="fh5co-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-push-1 animate-box">
					
					<div class="fh5co-contact-info">
						<h3>Contact Information</h3>
						<ul>
							<li class="address">198 West 21th Street, <br> Suite 721 New York NY 10016</li>
							<li class="phone"><a href="tel:+380660847172">+380660847172</a></li>
							<li class="email"><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
							<li class="url"><a href="http://gettemplates.co">gettemplates.co</a></li>
						</ul>
					</div>

				</div>
				<div class="col-md-6 animate-box">
				  {% include "partials/_messages.html" %}
					<h3>Get In Touch</h3>
					<form action="" method="POST">
						{% csrf_token %}
						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="fname">First Name</label> -->
								{{ form.name }}
							</div>
							
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="email">Email</label> -->
								{{ form.email }}
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="subject">Subject</label> -->
								{{ form.subject }}
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="message">Message</label> -->
								{{ form.message }}
							</div>
						</div>
						<div class="form-group">
							<input type="submit" value="Send Message" class="btn btn-primary">
						</div>

					</form>		
				</div>
			</div>
			
		</div>
	</div>
{% endblock product %}
{% block counter %}

<div id="map" class="animate-box" data-animate-effect="fadeIn"></div>
<div id="fh5co-started">
<div class="container">
    <div class="row animate-box">
    <div id="map" class="animate-box" data-animate-effect="fadeIn" style="align:center;">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44581.35319916793!2d7.270452134433567!3d9.020621288251457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e70b798def501%3A0xbdeebcc99b337cd0!2zOTAwMTA2LCBHd2Fza2EsINCd0ZbQs9C10YDRltGP!5e0!3m2!1suk!2sua!4v1641242757093!5m2!1suk!2sua" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	</div>
</div>
</div>
</div>

{% endblock counter %}