[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
pillow = "*"
django-ckeditor = "*"
django-mptt = "*"
six = "*"
cloudinary = "*"
psycopg2 = "*"
gunicorn = "*"
django-heroku = "*"

[dev-packages]

[requires]
python_version = "3.8"
