{% extends "base.html" %}
{% load static %}
{% block title %}
 All Categories
{% endblock title %}

{% block aside %}
{% include "partials/aside.html" %}
{% endblock aside %}
{% block service %}
{% include "partials/service.html" %}
{% endblock service %}
{% block product %}
<div id="fh5co-product">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span>Cool Stuff</span>
					<h2>All categories</h2>
					{% comment %} <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p> {% endcomment %}
				</div>
			</div>
			
			
			<div class="row">
			{% for category in categories %}
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url({{ category.image.url }});">
							<div class="inner">
								<p>
									{% comment %} <a href="single.html" class="icon"><i class="icon-shopping-cart"></i></a>
									<a href="single.html" class="icon"><i class="icon-eye"></i></a> {% endcomment %}
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="{% url 'product:show-subcategory' category.slug %}">{{ category.name }}</a></h3>
							{% comment %} <span class="price">${{ product.price }}</span> {% endcomment %}
						</div>
					</div>
				</div>
			{% endfor %}
				
			</div>
			
			
		</div>
</div>
{% endblock product %}
{% block testimony %}
<div id="fh5co-testimonial" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row animate-box">
						{% comment %} <div class="owl-carousel owl-carousel-fullwidth">
							<div class="item">
								<div class="testimony-slide active text-center">
									
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
								
								</div>
							</div>
						</div> {% endcomment %}
					</div>
				</div>
			</div>
		</div>
</div>
{% comment %} {% include "partials/counter.html" %} {% endcomment %}
{% endblock testimony %}


{% comment %} {% include "partials/testimony.html" %} {% endcomment %}
{% comment %} {% include "partials/counter.html" %} {% endcomment %}
{% comment %} <div id="fh5co-started">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2">
					
			</div>
		</div>
</div> {% endcomment %}


<!--  service -->
	<! -- product -->
	<! -- testimony -->
	<! -- counter -->
    <! -- newsletter -->