{% extends "base.html" %}
{% block title %}
 products
{% endblock title %}
{% block aside %}
{% include "partials/aside.html" %}
{% endblock aside %}
{% block service %}
{% include "partials/service.html" %}
{% endblock service %}
{% block product %}
{% include "partials/product.html" %}
{% endblock product %}
{% block testimony %}
{% include "partials/testimony.html" %}
{% comment %} {% include "partials/counter.html" %} {% endcomment %}
{% endblock testimony %}

{% comment %} {% include "partials/counter.html" %} {% endcomment %}
{% comment %} <div id="fh5co-started">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2">
					
					
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							
						</div>
				</div>
			</div>
		</div>
</div> {% endcomment %}
{% comment %} {% include "partials/newsletter.html" %} {% endcomment %}


<!--  service -->
	<! -- product -->
	<! -- testimony -->
	<! -- counter -->
    <! -- newsletter -->