{% extends "base.html" %}
{% load static %}
{% block title %}
 {{ setting.title }}
{% endblock title %}
{% block description %}
 {{ setting.description }}
{% endblock description %}
{% block keywords %}
 {{ setting.keywords }}
{% endblock keywords %}
{% block aside %}
	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({{ product.image.url }});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Product Review</h1>
							<h2>{{ product.name }}</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
    </header>
{% endblock aside %}
 
{% block product %}
  <div id="fh5co-contact">
		<div class="container">
			<div class="row">
			 
				<div class="col-md-3 animate-box">
					<div class="fh5co-contact-info">
					</div>
				</div>
				<div class="col-md-6 animate-box">
				  {% include "partials/_messages.html" %}
					<h3>Add Review</h3>
					<form action="./?next={{ request.META.HTTP_REFERER }}" method="POST">
						{% csrf_token %}
						<div class="row form-group">
							<div class="col-md-12">					
								<input type="text" id="name" name="name" class="form-control" value="{{ request.user }}">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<textarea name="message" id="message" cols="15" rows="5" class="form-control" placeholder="Say something about product"></textarea>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-6">
								<h4>Your Rating:</h4>
							</div>
							<div class="col-md-6">	
								<fieldset class="rating" style="float:right;">
									<input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
									<input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
									<input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
									<input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
									<input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
								</fieldset>
							</div>	
						</div>		
						<input type="hidden" name="next" value="{{ request.GET.next }}">		
						<div class="form-group">
							<input type="submit" value="Submit" name="review" class="btn btn-primary">
						</div>
												
					</form>	
				</div>
				<div class="col-md-3 animate-box">
					<div class="fh5co-contact-info">
					</div>
				</div>	
							  
									
			</div>
		</div>


 </div>					
	<br>
	<br>
	<br>
						
{% endblock product %}
	
{% block newsletter %}
<br>
<br>

<div id="fh5co-started">
<div class="container">
<div class="row animate-box">

</div>
</div>
</div>
{% endblock newsletter %}