{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Agro Farm | {% block title %}

{% endblock title %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap  -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<!-- Custom Theme files -->
<link href="{% static 'account/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/icomoon.css' %}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>{% block header %}
        
        {% endblock header %}</h1>
		{% block content %}
        
        {% endblock content %}
		<!-- copyright -->
		{% include "partials/copyright.html" %}
		<!-- //copyright -->
		{% include "partials/bubble.html" %}
	</div>
	<!-- //main -->
</body>
</html>